body {
  margin: 0;
  background: white;
}
#counter {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  font-size: 100px;
  line-height: 100vh;
  color: white;
  font-family: 'Avenir';
  font-weight: 600;
  display: none;
}

#counter .jsgif {

}
#imageWrap {
  height: 100vw;
  width: 100vw;
  overflow: hidden;
}
#imageWrap img{
  height: 100%;
  width: auto;
}